<!DOCTYPE html>
<html lang="ru" data-theme="default" data-color-schema="auto">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_description }}">

    <!-- Open Graph tags -->
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="{{ og_description }}">
    <meta property="og:image" content="{{ og_image }}">
    <meta property="og:type" content="{{ og_type }}">
    <meta property="og:site_name" content="{{ og_site_name }}">

    <!-- Yandex webmaster-->
    <meta name="yandex-verification" content="ddd0bfadda3f48cd" />
    <!-- /Yandex webmaster -->
</head>
<body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>

        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PTB9Q832XQ"></script>
    <script>
        if (!window.location.href.includes('localhost') && !window.location.href.includes('dev')) {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-PTB9Q832XQ');
        }
    </script>
    <!-- /Google tag (gtag.js) -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        if (!window.location.href.includes('localhost') && !window.location.href.includes('dev')) {
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () {
                    (m[i].a = m[i].a || []).push(arguments)
                };
                m[i].l = 1 * new Date();
                for (var j = 0; j < document.scripts.length; j++) {
                    if (document.scripts[j].src === r) {
                        return;
                    }
                }
                k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(95326777, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true
            });
        }
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/95326777" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</body>
</html>
